aiobotocore==2.8.0
boto3==1.33.1
botocore==1.33.1
Flask==3.0.3
holidays==0.46
hyperopt==0.2.7
ipython==8.10.0
lightgbm==4.3.0
matplotlib==3.8.4
missingno==0.5.2
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.0
scipy==1.13.0
statsmodels==0.14.1
tsfresh==0.20.2
tqdm==4.66.2
pyarrow==15.0.2
s3fs==2024.3.1
PyYAML==6.0.1
ipynb==0.5.1